body{
    background-image:url('https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    display: flex;
    justify-content: center;
    align-items:center;
    background-size:cover;
}
form{
    margin-top:20vh;
    background-color:#d6d2bb;
    border-radius:5em;
    height: 70vh;
    width: 22vw;
    min-width:20em;
    min-height:42em;
    margin-left:auto 0;
    margin-right:auto 0;
    text-align: center;
}
label{
    font-size:1.5em;
    font-family: 'Lucida Grande',monospace;
    font-weight: bold;
    color: #473f34;
    float: left;
    clear: left;
    top:3.5em;
    margin-left:2.25em;
    padding-top:1em; 
}
input{
    font-size:1.25em;
    float: left;
    clear: left;
    margin-left:2.5em;
    width:16vw;
    min-width:10em;
    border-radius: 0.5em;
    border: 0.15em solid #918e7c;
    background-color: #e9e6d4;
}
button{
    font-size:1.5em;
    float: center;
    clear: both;
    border: 0.15em solid #918e7c;
    background-color: #e9e6d4;
    font-family: 'Lucida Grande',monospace;
    font-weight: bold;
    color: #473f34;
    margin-top:1em;
}
button:hover{
    font-size:1.5em;
    float: center;
    clear: both;
    border: 0.15em solid #386433;
    background-color: #5ba353;
    font-family: 'Lucida Grande',monospace;
    font-weight: bold;
    color: #473f34;
    margin-top:1em;
}
