body{
    background-image:url('https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    font-family: 'Monaco';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height:100%;
}
.navbar
{
    background-color: #41b267c5;
    height: 80%;
    width: 101% ;
    margin-top:-1%;
    padding-top: 1%;
    margin-left: -0.5%;
    font-family: 'Georgia';
    display: flex;
    flex-direction: row;
}
.logo
{   
    font-family: inherit;
    color: white;
    text-align: right;
    text-align: center;
    width: fit-content;  
    font-size:4vi;
    height: 4vi;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}
.logo .text
{
    height: 100%;
    text-align: right;
    color: white;
    font-size: 4vw;
    padding-bottom: 1%;
}
.logo img
{
    width: auto;
    height: 120%;
    background: none;
}
.links
    {
        width:85%;
        height: 100%;
        margin-top: 1%;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        background-color: transparent;
        width: 100%;  
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1%;
        margin-left: auto;
        align-items:end;
    }
    .links a
    {
        color:white;
        text-decoration: none;
        font-family: inherit;
        width:auto;
        font-size: 3vw;
        font-size: 2vw;
        padding-left: 1%;
        padding-right: 1%;
        margin-left: 4%;
        margin-right: 1%;
    }
    .links a:hover
    {
        color:black;
    }
.bodi
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}    
    .containerDesc
{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top:4%;
}
.containerDesc .descBox
{

    width:90%;
    font-size: 3em;
    color:rgba(0, 0, 0, 0.632);
    font-family:inherit;
    font-weight: bold;
    text-align: center;
    height: 100%;
    margin-left:10%;

}  
.descBox img
{
    height: 100%;
    width: 20%;
}
.containerDesc .pic
{
    margin-top:15%;
    width:100%;
    height: 30vb;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.pic img
{
    margin-left: 15%;
    height: 100%;
    width: 25%;
    margin-bottom: 1%;
}
.Sign
{
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
}
.Sign .form
 {
    background-color: rgba(200, 206, 206, 0.626);
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-bottom:10% ;
 }  

 .form .textBox
 {
        align-self: center;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-family:inherit;
        font-weight: bold;
        position: relative;
        font-size: 3vw;
      
 }
 .textBox2
 {
        align-self: center;
        width: 100%;
        border-radius: 20%;
        border: black;
        outline: black;
        font-size: 1.4vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 2vb;
        margin: 10%;
        font-family: inherit;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: -2%;
        position: relative;
 }

 input[type=text], input[type=password] {
    width: 80%;
    height: 3vw;
    color: rgb(0, 0, 0);
    display: inline-flex;
    font-family: inherit;
    font-weight: bold;
    align-self: center;
    margin: 2%;
    box-sizing: border-box;
    border: 0.15em solid #848383;
    background-color: #fffbfb87;
    border-radius: 7px;
    font-size: 1.5vw;
  }
.but
{
    font-style:italic;
    background-color: #41b267cb;
    color: white;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    align-self: center;
    border-radius: 10px;
    font-size: 1.5vw;
    margin-top: 7%;
}
.but:hover
{
    color:black;
}
@media screen and (max-width:1050px) and (min-width: 950px) {
    .links a
    {
        font-size: 3vw;
        
    }
    .textBox2{
        margin-top: 40%;
    }
    .textBox
    {
        margin-bottom: 20%;
        margin-top:20%;
    }
}
@media screen and (max-width: 600px) {
    .links a
    {
        font-size: 4vw;
        
    }
    .logo .text
    {
        font-size: 5vw;
    }
    .logo img {
        height: 150%;
    }
    .bodi
    {
        display: flex;
        flex-direction: column;
    }
    .Sign
    {
        width: 100%;
       
    }
    .Sign .form 
    {
        width:90%;
        padding-bottom:20%;
    }
    .Sign form .textBox
    {
        font-size: 9vw;
    }
     .containerDesc
    {
        width: 100%;
        
    }
    .containerDesc .descBox
    {
        margin-left:0%;
        
    }
   
    .but
    {
        font-size:5vw;
    }
    .containerDesc .pic
    {
        padding-bottom: 5%;
        height: fit-content;
    }
    .containerDesc .pic img
    {
        margin-left: 7%;
        height: 25vw;
    }
    input[type=text], input[type=password] {
        height: 10vw;
        font-size: 4vw;
    }
    .textBox2{
        margin-top: 30%;
        font-size: 4vw;
    }
    .textBox
    {
        font-size: 8vw;
        margin-bottom: 20%;
        margin-top:20%;
    }
}
@media screen and (max-width:1200px) and (min-width: 1050px) {
    .textBox2
    {
        margin-top:25%;
        
    }
}
@media screen and (max-width: 950px) and (min-width:600px)
{
    .bodi
    {
        display: flex;
        flex-direction: column;
    }
    .Sign
    {
        width: 100%;
       
    }
    .Sign form 
    {
        padding-bottom:20%;
    }
    .Sign form .textBox
    {
        font-size: 7vw;
    }
     .containerDesc
    {
        width: 100%;
        
    }
    .containerDesc .descBox
    {
        margin-left:0%;
        
    }
    .textBox2
    {
        font-size: 2vw;
    }
    .but
    {
        font-size:3vw;
    }
    .containerDesc .pic img
    {
        margin-left: 7%;
    }
    input[type=text], input[type=password] {
        height: 6vw;
        font-size: 2vw;
    }
    .links a
    {
        font-size: 3vw;
        
    }
    .textBox2{
        margin-top: 30%;
    }
    .textBox
    {
        margin-bottom: 20%;
        margin-top:20%;
    }
}
.error-container
{
    color: red;
    font-weight: bold;
    font-size: 2vi;
}
