body{
    background-image:url('https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    font-family: 'Lucida Grande',monospace;
    background-size:cover;
    height:100%;
}
header{
    color: #3c503a;
    font-weight: bold;
    font-size:2.5em;
    margin-left:2em;
    margin-top:-1em;
    margin-bottom:-1em;
    float:left;
    top:-1em;
}
form{
    color: #3c503a;
    float:right;
    margin-top:5vh;
    display: flex;
    flex-direction: row;
    margin-right:5vw;
    opacity:90%;
}
::placeholder{
    color: #3c503a;
    font-family: 'Lucida Grande',monospace;
}
input{
    font-size:2.25em;
    width:30vw;
    border-radius: 0.5em;
    border: 0.15em solid #386433;
    background-color: #5ba353;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-right:none;
}
form button{
    font-size:1.5em;
    height: inherit;
    aspect-ratio: 7 / 1 ;
    border-radius: 0.5em;
    border: 0.15em solid #386433;
    background-image: url('https://www.citypng.com/public/uploads/small/11640084021s7j4kii6hsgshmcxlovq7siag8vktv9rhqscjbbuyse2favmnjhrpjhrgqcug2nqdcpxsmovtjjonzon74knmk3kywi3tpxrpg8r.png');
    background-color: #5ba353;
    background-size: 100%;
    float:right;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
}
form button:hover{
    border: 0.15em solid #55964e;
    background-color: #88c082;
}
.tabs{
    box-sizing: border-box;
    display:block;
    float:left;
    clear: left;
    font-size:2em;
    text-align:center;
    min-height:30vh;
    min-width:20vw;
    margin:0;
    padding:0;
    margin-top:13vh;
    margin-left:-2vw;
    border: 0.15em solid #386433;
    background-color: #5ba353;
    border-radius: 0.5em;
    display:flex;
    justify-content:space-evenly;
    flex-direction: column;
}
.tabs a{
    padding-top:3vh;
    text-decoration: none;
    box-sizing: border-box;
    display:block;
    color: #3c503a;
    font-weight: bold;
    font-size:1em;
    height:10vh;
    background-color: #5ba353;
    border:none;
    border-radius: 0.5em;
}
.tabs a:hover{
    background-color: #88c082;
}
hr{
    margin:0em;
    border: 0.10em solid #386433;
    margin-left:-5vw;
}

.page
{ 
    font-family: 'Lucida Grande',monospace;
    opacity:90%;
    border-radius:15%;
    background-color: #e9e6d4;;
    text-align: center;
    float:left;
    margin-left:2vw;
    margin-top:2vh;
    font-size:3em;
    height:auto;
    min-height:80vh;
    width:75vw;
    font-family: 'Lucida Grande',monospace;
    font-weight: bold;
    color: #473f34;
}
